<div class="header">
    <div class="container header-wrapper px-sm-0 py-sm-0">
        <a href="#">
            <img class="header logo" src="../assets/images/logo-white.png" alt="logo.png">
        </a>
        <ul class="header nav">
            <li class="nav-item">
                <a class="link-hover" href="#">系列鏡框</a>
            </li>
            <li class="nav-item">
                <a class="link-hover" href="#">門市據點</a>
            </li>
            <li class="nav-item">
                <a class="link-hover" href="#">部落格</a>
            </li>
            <li class="nav-item">
                <a class="link-hover" href="#">常見問題</a>
            </li>
        </ul>
    </div>
  </div>