// @mixin pad{
// 	@media(max-width: 992px){
// 	  @content;
// 	}
//   }
//   @mixin mobile{ 
// 	@media(max-width: 576px){
// 	  @content;
// 	}
//   }

.footer{
	background-color: $primary;
	color: #ffffff;
	font-size: 16px;
	padding-top: 48px;
	padding-bottom: 32px;

	@include pad{
		padding-right: 24px;
		padding-left: 24px;
		padding-top: 48px;
		padding-bottom: 40px;
	}
	@include mobile{
		padding: 24px 0px;
	}

	&-top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;

		@include pad{
			margin-bottom: 20px;
		}
		@include mobile{
			margin-bottom: 20px;
		}

		.top-item{
			@include pad{
				width: 70%;
			}

			.contact-link{
				font-size: 36px;
				//    cursor: pointer;
			   	@include mobile{
					font-size: 16px;
			   	}
			}

			.material-symbols-outlined {
				font-variation-settings:
				'FILL' 0,
				'wght' 400,
				'GRAD' 0,
				'opsz' 40;
				font-size: 40px;
			  }
		}
	
		&-nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 48px;
			@include pad{
				height: 40px;
			}
			@include mobile{
				display: none;
			}
		}
	
		&-social{
			display: flex;
			gap: 32px;
			@include pad{
				gap: 16px;
				height: 40px;
			}

			.social-link{
				/* 設定圓角角度看設計稿，XD不曉得怎麼看先處理 border-radius: 40px;*/ 
			   max-width: 48px;
			   max-height: 48px;
			   margin: 0 0;
			
				@include pad{
					max-width: 40px;
					   max-height: 40px;	
				}
			
				   @include mobile{
					max-width: 24px;
					   max-height: 24px;
				}
			}
			.social-link:hover{
			   box-shadow: 0px 0px 16px 3px $secendary;
			   transition: 0.5s; 
			}
		}
		
	}

	&-hr{
		margin-bottom: 32px;
		@include mobile{
			margin-bottom: 20px;
		}
	}

	&-bottom{
		display: flex;
		justify-content: space-between;
		// @include pad{
		// 	flex-direction: column;
		// }
		@include mobile{
			// display: flex;
			//flex-wrap: wrap;
			flex-direction: column;
		}
	
		.content{
			width: 75%;
			@include pad{
				width: 50%;
			}
			
		}
	
		.link{
			display: flex;
			justify-content: space-between;
			gap: 48px;
			@include pad{
				width: 30%;
			}
			@include mobile{
				gap: 0px;
				flex-direction: column;
			}
		}
	}
	
}