
/* banner */
.banner{
	background-image: url("../images/home-header.png");
	background-repeat: no-repeat; /* repeat：預設值，背景圖會重複；no-repeat：不重複背景圖 */
	background-size: cover; /* 表示的方式可以寫成px、百分比、cover(將圖片填滿整個容器，若圖片小於容器且像素過低時，容易造成失真)、contain(將圖片縮小成可以完整放入容器的大小，可用於圖片大過容器時的情況) */
	padding: 296px 0;
	// color: $secendary; => 改換css屬性變數寫法
	// color: var(--secendary); => 改換scss屬性變數寫法
	color: $secendary;
	text-align: right;

	@include pad{
		background-image: url("../images/home-header-sm.png");
	}

	&-title{
		width: 50%;
		margin-left: auto;
		@include pad{
			width: 100%;
			margin-left: auto;
		}
		.h1{
			@include pad{
				margin-bottom: 8px;
			}
			@include mobile{
				font-size: 24px;
				font-weight: bold;
			}
		}
		.h3{
			@include mobile{
				font-size: 16px;
			}
		}
	}
}

 /* feature -  */
 .feature{
	background-color: $bg-light;
	color: $secendary;
	text-align: center;
	padding: 80px 0;

	&-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.card{
			/* width: 306px; => width: 25%; 電腦版可以設定特定px，但是轉換成行動裝置邊嘗就不一致了，所以改成百分比較能自適應 */
			width: calc(25% - 18px); /* 寫法一 : 算法如下card(間距24px)*3 = 72px，72px要分別扣在4個card上，
				72/4 = 18px，故 width: calc(25% - 18px); 比較不直覺要多練，如果用寫法一、二記得card上面的間隔 mr-4要拿掉。  */
			/* 寫法二 : width: 25%; + gap: 24px; */
			@include pad{
				width: calc(50% - 12px); /* width: calc(50% - 12px); 寫法一 : 算法如下card(間距24px)*1 = 24px，24px要分別扣在2個card上，24/2 = 12px，故 width: calc(50% - 12px); 比較不直覺要多練  */
				/* 寫法二 : display: grid;+ width: 50%; + gap: 24px; */
				/* display: grid;
				width: 50%;
				gap: 24px; 這段gap無法生效 */
				margin-bottom: 24px;
			}
			@include mobile{
				width: 100%;
				margin-bottom: 24px;
			}

			&-img{
				max-width: 84px;
				height: auto;
			}
			&-title{
				color: $secendary;
				font-size: 24px;
				font-weight:bold;
			}
			&-content{
				color: #000000;
				font-size: 16px;
			}
		}
	}
}

/* classic - 經典鏡框 */
.classic{
	background: #fff;
	color: $secendary;
	text-align: center;
	padding: 80px 0;
}


.classic-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.classic-list .classic-item{
	/* width: 416px; */
	width: calc(33.333% - 16px);
	font-style: italic;
	color: $primary;
}

@media (max-width: 992px) { /* 平板 */
	.classic-list .classic-item{
		width: 100%;
		margin-bottom: 24px;
	}
	.classic-img{
		width: 336px;
	}
 }
@media (max-width: 576px) { /* 手機 */
	.classic-list .classic-item{
		width: 100%;
		margin-bottom: 24px;
	}
	.classic-img{
		width: 348px;
	}
 }

/* design - 聯名設計 */
 .design{
	background-image: url("../assets/images/index-bg.png");
	color: #ffffff;
	text-align: center;
	padding: 80px 0;

	&-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include pad{
			display: grid;
			gap: 24px 0;
		}
		
		.list-item{
			width: 50%;
			@include pad{
				width: 100%;
			}
		}
	}

	.list-content{
		background-color: #ffffff;
		color: $primary;
		padding: 8px 0;
		font-style: italic;
	}
}

 /* recommend - 顧客推薦 */
 .recommend{
	background-color: #ffffff;
	color: $secendary;
	padding: 80px 0;
}
.recommend-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.recommend-card{
	width: calc(25% - 18px); /* 24*3=72， 72/4=18 */
	/* height: auto; */
	box-shadow: 0px 2px 6px #00000029;
	border-radius: 4px;
}


.recommend-content{
	font-size: 16px;
	color: #000;
	padding: 16px 16px;
}
.recommend-date{
	font-size: 14px;
	color: #707070;
}
@media (max-width: 992px) { /* 平板 */
	.recommend-card{
		width: calc(50% - 12px);
		margin-bottom: 24px;
	}
 }
 @media (max-width: 576px) { /* 手機 */
	.recommend-card{
		width: 100%;
		margin-bottom: 24px;
	}
	/* .recommend-list .recommend-card{
		width: 100%;
	}
		非常奇怪的莊況-gap在w-100%下能用，w-50卻不行
		
	.recommend-list{
		display: grid;
		gap: 24px 0;
	} */
 }

 /* component - 聯絡我們*/
 .contact{
	background-color: $bg-light;
	padding: 104px 24px;
}
.contact-title{
	color: $secendary;
	text-align: center;
}
.contact-main{
	width: 50%;
	color: #000;
	display: flex;
	justify-content: center;
	margin:0 auto;
}
.form-title{
	font-size: 20px;
	width: 100%;
}
.form{
	width: 100%;
	font-size: 16px;
	color: #000;
}
.form-input{
	background: $bg-light;
}
.feedback{
	height: 136px;
	width: 100%;
	resize: none;
	background: $bg-light;
}
@media (max-width: 992px) { /* 平板 */
	.contact-main{
		width: 75%;
	}
 }
@media (max-width: 576px) { /* 手機 */
	.contact-main{
		width: 100%;
	}
 }
@media (max-width: 992px) { /* 平板 */
	.footer{
		padding-right: 24px;
		padding-left: 24px;
		padding-top: 48px;
		padding-bottom: 40px;
	}
	.footer-nav{
		height: 40px;
	}
	.footer-social{
		gap: 16px;
		height: 40px;
	}
 }

 @media (max-width: 767px) { /* 手機 576px 改為 767px 提早rwd，避免footer變形 */
	.footer{
		padding: 24px 0px;
	}
	.footer-top{
		margin-bottom: 20px;
	}
	.footer-nav{
		display: none;
	}
	.contact-link{
		font-size: 16px;
	}
	.hr{
		margin-bottom: 20px;
	}

	.footer-bottom{
		display: flex;
		flex-wrap: wrap;
	}

	.bottom-content{
		width: 100%;
	}

	.bottom-link{
		display: inline-block;
	}
 }





/* component */
.link-hover:hover{
	width: 100%;
	background: $secendary;
	box-shadow: 0px 0px 16px 3px $secendary;
	transition: 0.5s; 
}

/* border-radius: 32px; 點選設計稿中的btn在Layout-Radius 有顯示 32px */
.btn{
	background-color: $primary;
	color: #ffffff;

	&-red{ 
		padding: 6px 12px;
	}

	&-submit{
		text-align: center;
		padding: 16px 176px; 
		@include pad{
			width: 60%;
			text-align: center;
			padding: 16px 0; 
		}
		@include mobile{
			width: 100%;
			text-align: center;
			padding: 16px 0; 
		}
	}
}
.btn:hover{
	box-shadow: 0px 0px 16px 3px $secendary;
	background-color: $secendary;
	transition: 0.5s; /* 延遲秒數可加可不加 */
}

