.outlets{
    margin-top: 96px;
    margin-bottom: 80px;
    @include pad{
        margin-bottom: 80px;
    }
    @include mobile{
        margin-bottom: 40px;
        margin-bottom: 64px;
    }

    .h1{
        font-size: 48px;
        font-weight: bold;
        padding-left: 16px;
        border-left: 8px solid $primary;
    }

    .city{
        &-select{
            display: flex;
            margin-bottom: 10px;
            @include pad{
                width: 100%;
            }

            .label{
                font-size: 24px;
                margin-right: 16px;
                @include mobile{
                    font-size: 16px;
                    margin-right: 8px;
                }
            }
            .select{
                font-size: 24px;
                width: 304px;
                color: #495057;
                @include mobile{
                    font-size: 18px;
                    width: 276px;
                }
            }
        }
        
        

        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 48px 24px;

            font-size: 24px;
            color: #495057;

            @include pad{
                gap: 24px 24px;
            }
            @include mobile{
                gap: 24px 0px;
            }


            .card{
                // width: calc(33% - 16px); /* 24*2=48， 48/3=16 */
                
                width: 416px;

                @include pad{
                    width: 48%;
                }
                @include mobile{
                    width: 100%;
                }

                &-body{
                    font-size: 20px;
                    border: 1px solid #00000020;
                }

                .title{
                    font-size: 24px;
                    padding-left: 24px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #00000020;
                }
                .content{
                    padding-left: 24px;
                    padding-top: 16px;
                    padding-bottom: 16px;

                    .material-symbols-outlined {
                        font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 20;
                        font-size: 24px;
                    }
                }

                
                





            }
        }
    }

}