.outlets{
    margin-top: 176px;
    margin-bottom: 80px;
    .h1{
        font-size: 48px;
        font-weight: bold;
        padding-left: 16px;
        border-left: 8px solid $primary;
    }

    .city{
        
        &-label{
            font-size: 24px;
        }
        &-select{
            font-size: 24px;
            width: 304px;
            color: #495057;
        }

        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 48px 24px;

            font-size: 24px;
            color: #495057;
            .card{
                // width: calc(33% - 16px); /* 24*2=48， 48/3=16 */
                
                width: 416px;

                &-body{
                    font-size: 20px;
                    border: 1px solid #00000020;
                }

                .title{
                    font-size: 24px;
                    padding-left: 24px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #00000020;
                }
                .content{
                    padding-left: 24px;
                    padding-top: 16px;
                    padding-bottom: 16px;

                    .material-symbols-outlined {
                        font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 20;
                        font-size: 24px;
                    }
                }

                
                





            }
        }
    }

}