<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/web1920-1.css"> -->
    <link rel="stylesheet" href="../assets/scss/pages/_index.scss">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="header">
      <div class="container header-bar">
          <img class="header-logo" src="../assets/images/logo-white.png" alt="logo.png">
          <ul class="header-nav">
              <li>
                  <a class="link-hover" href="#">系列鏡框</a>
              </li>
              <li>
                  <a class="link-hover" href="#">門市據點</a>
              </li>
              <li>
                  <a class="link-hover" href="#">部落格</a>
              </li>
              <li>
                  <a class="link-hover" href="#">常見問題</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="banner-title">
                <p class="h3">Promise-Desert 2020 早春系列</p>
                <p class="h1">看得清，才能看得遠</p>
                <a class="btn btn-red" href="#">立即購買</a>
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="container">
            <p class="h2 mb-6">用專業的心，做專業的事</p>
            <div class="feature-list">
                <div class="card">
                    <img class="card-img" src="../assets/images/home-section2-1.png" alt="單一價格.png">
                    <p class="card-title">單一價格</p>
                    <p class="card-content">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </div>
                <div class="card">
                    <img class="card-img" src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件.png">
                    <p class="card-title">20 分鐘即可取件</p>
                    <p class="card-content">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </div>
                <div class="card">
                    <img class="card-img" src="../assets/images/home-section2-3.png" alt="安心售後服務.png">
                    <p class="card-title">安心售後服務</p>
                    <p class="card-content">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </div>
                <div class="card">
                    <img class="card-img" src="../assets/images/home-section2-4.png" alt="關於鏡片.png">
                    <p class="card-title">關於鏡片</p>
                    <p class="card-content">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="classic">
        <div class="container">
            <p class="h2 mb-12" style="color: #650300;">經典系列鏡框</p>
            <div class="classic-list">
                <div class="classic-item">
                    <img class="classic-img mb-2" class="mb-2" src="../assets/images/home-section3-1.png" alt="OPTICAL.png">
                    <p class="h2">OPTICAL</p>
                </div>
                <div class="classic-item">
                    <img class="classic-img mb-2" src="../assets/images/home-section3-2.png" alt="SUNGLASSES.png">
                    <p class="h2">SUNGLASSES</p>
                </div>
                <div class="classic-item">
                    <img class="classic-img mb-2" src="../assets/images/home-section3-3.png" alt="FUNCTIONAL.png">
                    <p class="h2">FUNCTIONAL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="design">
        <div class="container">
            <p class="h2 mb-12">聯名設計鏡框</p>
            <ul class="design-list">
                <li class="design-item">
                    <img class="design-img" src="../assets/images/home-section4-1.png" alt="DOUBLE A+.png">
                    <div class="design-item-content">
                        <p class="h2">DOUBLE A+</p>
                    </div>
                </li>
                <li class="design-item">
                    <img class="design-img" src="../assets/images/home-section4-2.png" alt="YOUTH.png">
                    <div class="design-item-content">
                        <p class="h2">YOUTH</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="recommend">
        <div class="container">
            <p class="h2 mb-12 text-center">顧客推薦</p>
            <ul class="recommend-list">
                <li class="recommend-item">
                    <img src="../assets/images/home-section5-1.png" alt="recommend.png">
                    <div class="recommend-content">
                        <p>Jessy</p>
                        <p class="mb-18">眼鏡品質優良，下次還會想來這邊購買！</p>
                        <p class="recommend-date">2021/06/20</p>
                    </div>
                </li>
                <li class="recommend-item">
                    <img src="../assets/images/home-section5-2.png" alt="recommend.png">
                    <div class="recommend-content">
                        <p>凱倫</p>
                        <p class="mb-18">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                        <p class="recommend-date">2021/04/18</p>
                    </div>
                </li>
                <li class="recommend-item">
                    <img src="../assets/images/home-section5-3.png" alt="recommend.png">
                    <div class="recommend-content">
                        <p>悠悠</p>
                        <p class="mb-18">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                        <p class="recommend-date">2020/12/25</p>
                    </div>
                </li>
                <li class="recommend-item">
                    <img src="../assets/images/home-section5-4.png" alt="recommend.png">
                    <div class="recommend-content">
                        <p>Kyuan</p>
                        <p class="mb-18">服務很好，品質沒有任何問題，非常喜歡。</p>
                        <p class="recommend-date">2020/10/31</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="contact">
        <div class="container">
            <p class="contact-title h2 mb-12">聯絡我們</p>
            <div class="contact-main">
                <form class="form" action="">
                    <p class="form-title mb-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>              
                    <div class="mb-4">
                        <label class="w-100" for="name">姓名</label>
                        <input class="w-100" type="text" name="" placeholder="姓名" id="name">
                    </div>
                    <div class="mb-4">
                        <label class="w-100" for="tel">連絡電話</label>
                        <input class="w-100" type="tel" name="" placeholder="連絡電話" id="tel">
                    </div>
                    <div class="mb-4">
                        <label class="w-100" for="email">電子郵件</label>
                        <input class="w-100" type="email" name="" placeholder="電子郵件" id="email">
                    </div>
                    <div class="mb-4">
                        <label class="w-100" for="feedback">意見反饋</label>
                        <textarea class="feedback w-100" name="" placeholder="意見反饋" id="feedback"></textarea>
                    </div>
                    <div class="mb-12">
                        <input type="checkbox" name="" id="agree">
                        <label class="checkagree" for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-submit" href="#" type="submit">確認送出</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- footer切版要調整來配合rwd，看接圖 -->
    <div class="footer">
        <div class="container">
            <div class="footer-top mb-8">
                <div class="footer-rwd">
                    <ul class="footer-nav mb-6">
                        <li>
                            <a class="link-hover" href="#">首頁</a>
                        </li>
                        <li>
                            <a class="link-hover" href="#">系列鏡框</a>
                        </li>
                        <li >
                            <a class="link-hover" href="#">門市據點</a>
                        </li>
                        <li >
                            <a class="link-hover" href="#">部落格</a>
                        </li>
                        <li>
                            <a class="link-hover" href="#">常見問題</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center mb-2">
                        <svg class="mr-5" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M796-120q-119 0-240-55.5T333-333Q231-435 175.5-556T120-796q0-18.86 12.57-31.43T164-840h147.33q14 0 24.34 9.83Q346-820.33 349.33-806l26.62 130.43q2.05 14.9-.62 26.24-2.66 11.33-10.82 19.48L265.67-530q24 41.67 52.5 78.5T381-381.33q35 35.66 73.67 65.5Q493.33-286 536-262.67l94.67-96.66q9.66-10.34 23.26-14.5 13.61-4.17 26.74-2.17L806-349.33q14.67 4 24.33 15.53Q840-322.27 840-308v144q0 18.86-12.57 31.43T796-120ZM233-592l76-76.67-21-104.66H187q3 41.66 13.67 86Q211.33-643 233-592Zm365.33 361.33q40.34 18.34 85.84 29.67 45.5 11.33 89.16 13.67V-288l-100-20.33-75 77.66ZM233-592Zm365.33 361.33Z"/></svg>
                        <a class="contact-link link-hover" href="#">0800-000-000</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg class="mr-5" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M146.67-160q-27 0-46.84-19.83Q80-199.67 80-226.67v-506.66q0-27 19.83-46.84Q119.67-800 146.67-800h666.66q27 0 46.84 19.83Q880-760.33 880-733.33v506.66q0 27-19.83 46.84Q840.33-160 813.33-160H146.67ZM480-454.67 146.67-670v443.33h666.66V-670L480-454.67Zm0-66.66 330.67-212H150l330 212ZM146.67-670v-63.33V-226.67-670Z"/></svg>
                        <a class="contact-link link-hover" href="#">glasses@business.com</a>
                    </div>
                </div>
                <div class="footer-social">
                    <img class="social-link" src="../assets/images/ic-social-fb.png" alt="fb_link">
                    <img class="social-link" src="../assets/images/ic_social_ig.png" alt="ig_link">
                    <img class="social-link" src="../assets/images/ic_social_line.png" alt="line_link">
                </div>
            </div>
            <hr class="footer-hr" />
            <div class="footer-bottom">
                <p class="bottom-content">Copyright © 2020 Glasses.All rights reserved.</p>
                <!-- <div class="bottom-link">
                    <a class="link-hover" href="#">隱私權政策</a>
                    <a class="link-hover" href="#">服務條款</a>
                </div> -->
                <ul class="bottom-link">
                    <li><a class="link-hover" href="#">隱私權政策</a></li>
                    <li><a class="link-hover" href="#">服務條款</a></li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
