<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  
</head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="banner">
        <div class="container">
            <div class="banner-title">
                <p class="h3">Promise-Desert 2020 早春系列</p>
                <p class="h1">看得清，才能看得遠</p>
                <a class="btn btn-red" href="#">立即購買</a>
            </div>
        </div>
      </div>
      <div class="feature">
          <div class="container">
              <p class="h2 mb-6">用專業的心，做專業的事</p>
              <div class="feature-list">
                  <div class="card">
                      <img class="card-img" src="../assets/images/home-section2-1.png" alt="單一價格.png">
                      <p class="card-title">單一價格</p>
                      <p class="card-content">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                  </div>
                  <div class="card">
                      <img class="card-img" src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件.png">
                      <p class="card-title">20 分鐘即可取件</p>
                      <p class="card-content">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                  </div>
                  <div class="card">
                      <img class="card-img" src="../assets/images/home-section2-3.png" alt="安心售後服務.png">
                      <p class="card-title">安心售後服務</p>
                      <p class="card-content">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                  </div>
                  <div class="card">
                      <img class="card-img" src="../assets/images/home-section2-4.png" alt="關於鏡片.png">
                      <p class="card-title">關於鏡片</p>
                      <p class="card-content">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="classic">
          <div class="container">
              <p class="h2 mb-12">經典系列鏡框</p>
              <div class="classic-list">
                  <div class="classic-item">
                      <img class="classic-img mb-2" class="mb-2" src="../assets/images/home-section3-1.png" alt="OPTICAL.png">
                      <p class="h2">OPTICAL</p>
                  </div>
                  <div class="classic-item">
                      <img class="classic-img mb-2" src="../assets/images/home-section3-2.png" alt="SUNGLASSES.png">
                      <p class="h2">SUNGLASSES</p>
                  </div>
                  <div class="classic-item">
                      <img class="classic-img mb-2" src="../assets/images/home-section3-3.png" alt="FUNCTIONAL.png">
                      <p class="h2">FUNCTIONAL</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="design">
          <div class="container">
              <p class="h2 mb-12">聯名設計鏡框</p>
              <ul class="design-list">
                  <li class="list-item">
                      <img class="list-img" src="../assets/images/home-section4-1.png" alt="DOUBLE A+.png">
                      <div class="list-content">
                          <p class="h2">DOUBLE A+</p>
                      </div>
                  </li>
                  <li class="list-item">
                      <img class="list-img" src="../assets/images/home-section4-2.png" alt="YOUTH.png">
                      <div class="list-content">
                          <p class="h2">YOUTH</p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="recommend">
          <div class="container">
              <p class="h2 mb-12 text-center">顧客推薦</p>
              <ul class="recommend-list">
                  <li class="recommend-card">
                      <img src="../assets/images/home-section5-1.png" alt="recommend.png">
                      <div class="recommend-content">
                          <p>Jessy</p>
                          <p class="mb-18">眼鏡品質優良，下次還會想來這邊購買！</p>
                          <p class="recommend-date">2021/06/20</p>
                      </div>
                  </li>
                  <li class="recommend-card">
                      <img src="../assets/images/home-section5-2.png" alt="recommend.png">
                      <div class="recommend-content">
                          <p>凱倫</p>
                          <p class="mb-18">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                          <p class="recommend-date">2021/04/18</p>
                      </div>
                  </li>
                  <li class="recommend-card">
                      <img src="../assets/images/home-section5-3.png" alt="recommend.png">
                      <div class="recommend-content">
                          <p>悠悠</p>
                          <p class="mb-18">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                          <p class="recommend-date">2020/12/25</p>
                      </div>
                  </li>
                  <li class="recommend-card">
                      <img src="../assets/images/home-section5-4.png" alt="recommend.png">
                      <div class="recommend-content">
                          <p>Kyuan</p>
                          <p class="mb-18">服務很好，品質沒有任何問題，非常喜歡。</p>
                          <p class="recommend-date">2020/10/31</p>
                      </div>
                  </li>
              </ul>
          </div>

      </div>
      <div class="contact">
          <div class="container">
              <p class="contact-title h2 mb-12">聯絡我們</p>
              <div class="contact-main">
                  <form class="form" action="">
                      <p class="form-title mb-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>              
                      <div class="mb-4">
                          <label class="w-100" for="name">姓名</label>
                          <input class="w-100 form-input" type="text" name="" placeholder="陳小明" id="name">
                      </div>
                      <div class="mb-4">
                          <label class="w-100" for="tel">連絡電話</label>
                          <input class="w-100 form-input" type="tel" name="" placeholder="0912-345-678" id="tel">
                      </div>
                      <div class="mb-4">
                          <label class="w-100" for="email">電子郵件</label>
                          <input class="w-100 form-input" type="email" name="" placeholder="example@email.com" id="email">
                      </div>
                      <div class="mb-4">
                          <label class="w-100" for="feedback">意見反饋</label>
                          <textarea class="feedback w-100" name="" placeholder="請輸入您的意見" id="feedback"></textarea>
                      </div>
                      <div class="mb-12">
                          <input type="checkbox" name="" id="agree">
                          <label class="checkagree" for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                          <a class="btn btn-submit" href="#" type="submit">確認送出</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
