<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>produsts</title>
</head>

<body>
    <%- include('./layout/header'); -%>

    <div class="type">
        <div class="container">
            <div class="type-list">
                <p class="item active">OPTICAL</p>
                <p class="item">SUNGLASSES</p>
                <p class="item">FUNCTIONAL</p>
            </div>
        </div>
        <div class="type-banner">
            <div class="banner-1"></div>
            <div class="banner-2"></div>
        </div>
    </div>

    <div class="product">
        <div class="container">
            <p class="title">2020 NEW COLLECTION</p>
            <p class="subtitle">賽璐珞鈦金屬混合鏡框</p>
            <div class="product-list">
                <div class="card">
                    <img src="../assets/images/product-1.png" alt="product-1.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/images/product-2.png" alt="product-2.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/images/product-3.png" alt="product-3.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/images/product-4.png" alt="product-4.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/images/product-5.png" alt="product-5.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-mobile">
                    <img src="../assets/images/product-6.png" alt="product-6.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-mobile">
                    <img src="../assets/images/product-7.png" alt="product-7.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-mobile">
                    <img src="../assets/images/product-8.png" alt="product-8.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-mobile">
                    <img src="../assets/images/product-9.png" alt="product-9.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-mobile">
                    <img src="../assets/images/product-10.png" alt="product-10.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-pad">
                    <img src="../assets/images/product-11.png" alt="product-11.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
                <div class="card hide-pad">
                    <img src="../assets/images/product-12.png" alt="product-12.png">
                    <div class="content">
                        <p class="name">BJ41600S</p>
                        <p class="price">NTD3,490</p>
                    </div>
                    <div class="color">
                        <p class="c1 mr-2"></p>
                        <p class="c2"></p>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <a href="#">上一頁</a>
                <a class="num" href="#">1</a>
                <a class="num active" href="#">2</a>
                <a class="num" href="#">3</a>
                <a class="num" href="#">4</a>
                <a class="num" href="#">5</a>
                <a href="#">下一頁</a>
            </div>
        </div>
        
        
    </div>


   
    



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>